{% extends 'detail_layout.html'%}

{% block title%}
    <title>Project Detail</title>
{% endblock%}

    {%block left-title%}Project Detail{%endblock%}
    {% block left%}
    <p class="card-text">
                    <table style="border-style:solid; border-width:2px;" align="center">
                        <tr>
                            <td><b>Title:</b></td>
                            <td>{{project.projectTitle}}</td>
                        </tr>
                        <tr>
                            <td><b>ID:</b></td>
                            <td>{{project.projectId}}</td>
                        </tr>
                        <tr>
                            <td><b>Contract Number:</b></td>
                            <td>{{project.projectContractNo}}</td>
                        </tr>
                        <tr>
                            <td><b>Site Location</b></td>
                            <td>{{project.projectSiteLocation}}:</td>
                        </tr>
                        <tr>
                            <td><b> Mail Location:</b></td>
                            <td>{{project.projectMailLocation}}</td>
                        </tr>
                        <tr>
                            <td><b>Order Number:</b></td>
                            <td>{{project.orderNumber}}</td>
                        </tr>
                        <tr>
                            <td><b>Project Status:</b></td>
                            <td>{{project.projectStatus}}</td>
                        </tr>
                        <tr>
                            <td><b>Recorded By:</b></td>
                            <td>{{project.projectRecordedBy}}</td>
                        </tr>
                        <tr>
                            <td><b>Tx Truck Rate:</b></td>
                            <td>{{project.txTruckRates}}</td>
                        </tr>
                        <tr>
                            <td><b>Remarks:</b></td>
                            <td>{{project.remarks}}</td>
                        </tr>
                    </table>
                </p>
                {%block form%}
                <a href="{{project.get_update_url}}">
                    <button class="btn btn-warning border rounded" type="button" style="margin: 5px;">Edit</button>
                </a>
                <a href="{{project.get_delete_url}}">
                    <button class="btn btn-danger border rounded" type="button" style="margin: 5px;">Delete</button>
                </a>
                {%endblock%}
              
                


    {%endblock%}


    {%block right-title%}Image{%endblock%}
    {%block right%}
        Image to be added or any extra contents
    {%endblock%}





















