{%extends 'list_layout.html'%}

{% block title %}
<title>Project List</title>
{% endblock %}

{% block left-title %}FILTER{% endblock%}
{% block left%}
<form method="GET" style="width:inherit;">
    {{filter.form.as_p}}
    <button class='btn btn-primary' type="submit">search</button>
</form>
{%endblock %}

{%block right-title%}Project List{%endblock%}
{%block right%}
        {% if filter.qs%}
<table class="table table-hover" style="text-align:center">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>Company</th>
            <th>Status</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for project in filter.qs%}
        <tr>
            <td>{{project}}</td>
            <td>{{project.projectId}}</td>
            <td>{{project.company.name}}</td>
            <td>{{project.projectStatus}}</td>
            <td><a href="{{project.get_absolute_url}}"><button class="btn btn-primary">View</button></a></td>
            <td><a href="{{project.get_update_url}}"><button class="btn btn-warning">Edit</button></a></td>
            <td><a href="{{project.get_delete_url}}"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
    </tbody>

    {% endfor%}
</table>
       {% else %}
<H2>No product found </H2>
        {% endif %}

    {%endblock %}


